h1{
 text-align:center;font-weight:800;margin-bottom:30px;
}
.timing-runner {
  margin-bottom: 50px;
   padding: 50px 0px;
}
.timing-runner .timing-blog .days-box {
  padding: 0px 22px;
  text-align: center;
}
.timing-runner .timing-blog .days-box .day {
  font-size: 70px;
  color: #000000;
  font-family: "robotobold";
  line-height: 1;
}
.timing-runner .timing-blog .days-box span {
  color: maroon;
  font-size: 25px;
  font-weight: 800;
  text-transform: uppercase;
}
.timing-runner .timing-blog {
  display: flex;
  align-items: center;
  justify-content: center;
}